:root {
    --background-color: #a1a1a9;

    --muted-border: #787880;
    --muted-background: #8d8d95;

    --primary-border: #6495ed;
    --primary-border-hover: #5485dd;
    --primary-border-active: #4475cd;
    --primary-background: #9ebaee;
    --primary-background-hover: #8eaade;
    --primary-background-active: #7e9ace;

    /* TODO: Move all other colors here */
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 4px;
    border-top: 4px solid var(--muted-border);
    font-size: small;
    text-align: center;
}

/* Main/shared stuff */

#main-view {
    display: flex;
    flex: 1;
}

#main-view > div:first-child {
    border-right: 4px solid var(--muted-border);
}

#main-view > div {
    padding: 16px;
}

.remove-converter-button {
    border: 2px solid #8b4545;
    border-radius: 4px;
    background-color: #ab4545;
    transition-duration: 0.2s;

    display: flex; /* Gets rid of weird 3px button line padding. Can also use line-height:0 */
    padding: 4px;
}

.remove-converter-button:hover {
    border-color: #7b3535;
    background-color: #9b3535;
}

.remove-converter-button:active {
    border-color: #6b2525;
    background-color: #8b2525;
    transition-duration: 0s;
}

#resources,
#add-rc-thumb-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: start;
    align-content: start;
    gap: 4px;
}

.resource-delta,
.thumb {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 1;

    border: 4px solid var(--muted-border);
    background-color: var(--muted-background);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    gap: 4px;
}

.resource-name,
.thumb-name {
    text-align: center;
    font-size: small;
    user-select: none;
}

.resource-image,
.thumb img {
    flex: 1;
    height: 100%;
    min-height: 0; /*Prevent minimum size from overflowing box*/
}

.negative-resource-delta {
    border-radius: 4px;
    border-color: #a55040;
    background-color: #b55545;
    transition-duration: 0.2s;
}

.negative-resource-delta:hover {
    border-color: #954030;
    background-color: #a54535;
}

.negative-resource-delta:active {
    border-color: #853020;
    background-color: #953525;
    transition-duration: 0s;
}

#open-item-delta-menu-button {
    /* Temporary until I move the item delta button somewhere better */
    width: 100%;
    height: 64px;
    margin-top: 16px;

    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.converter {
    height: 40px;
    padding: 8px;
    margin-bottom: 4px;

    border: 4px solid var(--muted-border);
    background-color: var(--muted-background);

    gap: 8px;
    display: flex;
    align-items: center;
}

.converter-image {
    min-height: 0px;
    height: 100%;
}

.converter-amount {
    width: 48px;
    min-height: 80%;

    border: 2px solid var(--muted-border);
    border-radius: 4px;
    background-color: transparent;

    text-align: center;
    font-size: large;
}

#open-converter-menu-button {
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    gap: 8px;
}

/* RC menu */

#add-rc-menu-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    min-height: 100vh;
}

#add-rc-menu {
    margin: 32px 128px;
    box-sizing: border-box;

    background-color: darkgray;
    box-shadow: black 0px 0px 50px;

    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
}

#add-rc-thumb-list {
    width: 100%;
    flex: 1;

    overflow-y: auto;
}

.thumb {
    width: 100px;
    aspect-ratio: 1;
}

#add-rc-footer {
    width: 100%;
    border-top: 4px solid var(--muted-border);
}

#rc-info-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
}

#rc-info-panel > * {
    width: 100%;
}

.rc-info-image {
    height: 32px;
    aspect-ratio: 1;
}

.rc-form-option {
    display: flex;
    margin: 8px;
    gap: 8px;
}

.rc-submit-button {
    padding: 8px;
    font-size: large;
}

.converter-ingredient,
.converter-select {
    margin: 2px;

    border: 2px solid var(--muted-border);
    border-radius: 2px;
    background-color: var(--muted-background);

    display: flex;
    gap: 4px;
    align-items: center;
}

.converter-ingredient {
    height: 32px;
    padding: 4px;
}

.converter-select {
    height: 12px;
}

.converter-select-children > :not(.converter-select) {
    background-color: var(--primary-background);
    transition-duration: 0.2s;
}
.converter-select-children > :not(.converter-select):hover {
    background-color: var(--primary-background-hover);
}

.converter-ingredient-name {
    display: flex;
    align-items: center;
    margin: 0px 8px;
}

.converter-ingredient-image {
    min-height: 0px;
    height: 100%;
    object-fit: contain;
}

/* ===== */

.flex {
    display: flex;
}

.horizontal-center {
    display: flex;
    align-items: center;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}

.horiz-padding {
    width: 16px;
}

.primary-button {
    border: 2px solid var(--primary-border);
    border-radius: 4px;
    background-color: var(--primary-background);
    transition-duration: 0.2s;
}

.primary-button:hover {
    border-color: var(--primary-border-hover);
    background-color: var(--primary-background-hover);
}

.primary-button:active {
    border-color: var(--primary-border-active);
    background-color: var(--primary-background-active);
    transition-duration: 0s;
}

.hidden {
    /* I dislike using !important outside of browser extensions, but I can't make
    this more specific and it has to override everything */
    display: none !important;
}
